@media (min-width: 768px) {
  .text-preset-1 {
    font-size: 3.5rem; /* 56px */
  }

  .card {
    width: 38rem; /* 608px */
    height: 54.875rem; /* 878px */
    border-radius: 2.25rem; /* 36px */
    
  }

  .image__container, .header-image {
    width: 33rem; /* 528px */
    height: 22.375rem; /* 358px */
    border-radius: 0.938rem; /* 15px */
  }

  .main__content {
    width: 33rem; /* 528 px */
  }
}

@media (min-width: 1024px) {
  .card {
    width: 56.5rem; /* 904px */
    height: 40.063rem;  /* 641px */
    flex-direction: row;
    gap: 4rem; /* 64px */
    align-items: center; 
    justify-content: center;
  }

  .image__container {
    display: none;
    
  }

  .desktop__image__container {
    display: block;
  }

  .main__content {
    width: 23.438rem; /* 375px */
  }

  .success__card {
    width: 31.5rem; /* 504px */
    height: 32.5rem; /* 520px */
    border-radius: 2.25rem; /* 36px */
  }

  .card__content {
    margin-top: 3.5rem;
  }

  .success__message {
    margin-bottom: 2rem;
  }
}