/* VARIABLES */
:root {
  --White: #FFFFFF;
  --Grey: #949494;
  --Blue800: #242742;
  --Blue700: #36384D;
  --Red: #FF6155;
  --Gradient: linear-gradient(to right, #FF6A3A , #FF527B);
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", serif;
  background-color: var(--Blue800);
  display: flex;
  justify-content: center;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Typography */
.text-preset-1 {
  font-size: 5.5rem; /* 88px  for mobile, switch to 56px for tablet and desktop display */ 
  font-weight: bold;
  letter-spacing: 0;
  line-height: 100%;
}

.text-preset-2-bold { 
  font-size: 1rem; /* 16px */
  font-weight: bold;
  letter-spacing: 0;
  line-height: 150%;
}

.text-preset-2-regular {
  font-size: 1rem; /* 16px */
  font-weight: normal;
  letter-spacing: 0;
  line-height: 150%;
}

.text-preset-3 {
  font-size: 0.75rem; /* 12px */
  font-weight: bold;
  letter-spacing: 0;
  line-height: 150%;
}
