/* VARIABLES */
:root {
  --White: #FFFFFF;
  --Grey: #949494;
  --Blue800: #242742;
  --Blue700: #36384D;
  --Red: #FF6155;
  --Gradient: linear-gradient(to right, #FF6A3A , #FF527B);
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", serif;
  background-color: var(--Blue800);
  display: flex;
  justify-content: center;
  align-items: center;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Typography */
.text-preset-1 {
  font-size: 42px; /* 56px  for mobile, switch to 88px for tablet and desktop display */ 
  font-weight: bold;
  letter-spacing: 0;
  line-height: 100%;
  color: var(--Blue800)
}

.text-preset-2-bold { 
  font-size: 1rem; /* 16px */
  font-weight: bold;
  letter-spacing: 0;
  line-height: 150%;
  color: var(--Blue800)
}

.text-preset-2-regular {
  font-size: 1rem; /* 16px */
  font-weight: normal;
  letter-spacing: 0;
  line-height: 150%;
  color: var(--Blue800);
}

.text-preset-3 {
  font-size: 0.75rem; /* 12px */
  font-weight: bold;
  letter-spacing: 0;
  line-height: 150%;
  color: var(--Blue800);
}

/* Page Layout */
.card, .main__content, .main__content__info, .signup__form, .email__input__section {
  display: flex;
  flex-direction: column;
}

.card {
  align-items: center;
  background-color: var(--White);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.card-hidden {
  display: none;
}

.main__content {
  width: 327px;
  padding-top: 2.5rem;  /* 40px */
  padding-bottom: 2.5rem; /* 40px */
  gap: 2.5rem; /* 40px */
}

.main__content__info {
  gap: 1.5rem; /* 24px */
}

li {
  list-style-type: none;
}

.list-item { 
  display: flex;
  gap: 1rem; /* 16px */
  padding-top: 1rem; /* 16px */
  align-items: flex-start; /* Align items to the top */
}

.first {
  padding-top: 0;
}

.signup__form{
  gap: 1.5rem; /* 24px */
}

.form-info {
  display: flex;
  justify-content: space-between;
}

.error-message {
  color: var(--Red);
}

.error-hidden {
  display: none;
}

.email__input{
  padding: .8rem; /* 16px */
  border: 1px solid var(--Grey);
  border-radius: 10px;
  margin-top: 0.5rem;
}

.error-email-input {
  border: 1px solid var(--Red);
  color: var(--Red);
  background-color: #ff6b3a2e
}

.submit__button, .dismiss__button {
  background-color: var(--Blue800);
  color: var(--White);
  padding: 1rem; /* 16px */
  border-radius: 10px;
}

.submit__button:hover {
  background: var(--Gradient);
  cursor: pointer;
}

/* Success Message */
.success__card {
  background-color: white;
  height: 100vh;
  width: 24.375rem; /* 390px */
  color: var(--Blue800);
  display: flex;
  justify-content: center;
}

.card__content {
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 9rem; /* 40px */
}

.success__message {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* 32px */
  margin-bottom: 16.5rem;
}

.success-icon{
  width: 64px;
  height: 64px;
}

.dismiss__button {
  padding-left: 6.25rem;
  padding-right: 6.25rem; 
}

.success-hidden {
  display: none;
}





